
</br>
<div class="small-10 small-centered columns">
  <div class="box">
      <div class="text-center">
        <h2 class="reason">About</h2>
        <p class="about">
          Wine Tasting at Home is your complete guide to hosting your very own wine tasting.</br>
          It will take the guess work out of preparing a selection of wines for your guests.</br>
          Food pairing suggestions are also availbale for slected tastings.</br>
          If you have a great idea for a wine flight or specific wines for a tasting, </br>
          add them for others to see!
        </p>
      </div>
    </div>
  </div>

<div class="small-10 small-centered columns">
  <div class="box">
    <div class="text-center">
      <h2 class="reason">How it Works</h2>
        <p class="about">
          Browse our selection of available tastings and choose from the</br>
          suggested wines to create your very own wine tasting at home.</br>
      </p>
    </div>
  </div>
</div>

<div class="small-10 small-centered columns">
  <div class="box">
    <div class="text-center">
      <h2 class="reason">How To</h2>
      <p class="about">
      After choosing your wines from the list, all you need to do is </br>
      grab your friends, some glasses and start exploring!
      </p>
      <div class="text-center">
        <div class="button"> <%= link_to 'View Tastings', root_path %></div>
      </div>
    </div>
  </div>
</div>
