<!DOCTYPE html>
<div class="header">
  <img class="orbit-image" src="https://s3.us-east-2.amazonaws.com/wine-tasting-at-home/winedisplay.jpg" alt="Space">
  <h1 class="text-center">Choose Your Tasting</h1>
  </div>


<% @tastings.each do |tasting| %>

<div class="small-12 medium-4 columns">
<div class="row">
    <div class="card" style="width: 300px;">
      <div class="card-divider">
        <div class="text-center">
         <span data-tooltip aria-haspopup="true" class="has-tip" title="<%=tasting.name %>"><%= link_to tasting.name, tasting_wines_path(tasting) %></span>
          </div>

          <%= image_tag(tasting.photo) %>
          <div class="card-section">
          <p class="text-center"><%= tasting.description %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
      <% end %>
