
*{
font-family: 'Abril Fatface', cursive;
}
h1 {
font-family: 'Abril Fatface', cursive;
text-align: center;
}

h2 {
font-family: 'Abril Fatface', cursive;
text-align: center;
}


.top-bar {
  background-color: black;
  color: white;
  font-size: 24px;
  text-align: justify;

}
.menu-text {
  background-color: black;
  font-size: 30px;
}
.breadcrumbs {
  font-size: 20px;
  padding-left: 15px;
}
.header {
  padding-top: 30px;
}

.card-section p {
  font-family: 'Fjalla One', sans-serif;

}

.card {
  padding-top: 30px;
  margin: auto;
}

.box {
margin: auto;
}


.title {
  color: #cc0000;
}
.items {
  color: black;
  font-size: 20px;
}
.button {
  font-size: 18px;
}

.profile {

  font-size: 20px;
}

#Xwinename {
  margin-right: 1px;
}

.text-center {
  padding-top: 60px;
  padding-bottom: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}




#button1 {
  display: inline-block;
  margin: 10px;
}
#button2 {
  display: inline-block;
  margin: 10px;

}

.about {
  font-family: 'Fjalla One', sans-serif;
}
